# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=

# Telegram
BOT_TOKEN=
WEBHOOK_SECRET=
WEBHOOK_URL=
DISABLE_BOT_POLLING=

# API Keys
GEOCODING_API_KEY=
GEMINI_API_KEY=

# Extra Config
CRON_SECRET=momyn_halal_update_777
BUCKET_NAME=momyn-vision-assets
ADMIN_TELEGRAM_ID=7140259988

# GitHub Autopush Config
GITHUB_PAT=
GITHUB_REPO=
