# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=

# Telegram
BOT_TOKEN=8688166376:AAF2kSQbYYClWwYlz2vbqUX2D_Ql_eAwC3E
WEBHOOK_SECRET=momyn-secret-2024
DISABLE_BOT_POLLING=

# API Keys
GEOCODING_API_KEY=AIzaSyCYQoJ6V2wYZm9LCAZDmaReft_dBpdo9r0
GEMINI_API_KEY=AIzaSyBPta9jFYnQk9f9T4pw6LNJBRwPKNOq0Go

# Extra Config
CRON_SECRET=momyn_halal_update_777
BUCKET_NAME=momyn-vision-assets
ADMIN_TELEGRAM_ID=7140259988

# GitHub Autopush Config
GITHUB_PAT=
GITHUB_REPO=
